<br></br>
<div class="card">
	<div class="card-header">
		New Pin
	</div>
	<div class="card-body">
		<%= render 'form', pin: @pin %>
	</div>
	<div class="card-footer text-muted">
		<%= link_to 'Back', pins_path %>
	</div>
</div>
