<br></br>
<div class="jumbotron center">
  <h1>Home of the pinterested app</h1>
  <p>Cool!</p>
  <%= link_to 'Login', root_path, class: "btn btn-outline-primary" %>
  <%= link_to 'Join', root_path, class: "btn btn-primary" %>
</div>
